<h1>New Article</h1>
<div class="hero">
<%= form_for :article, url: articles_path do |f| %>
  
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  
  <p>
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
  	<% end %>
<button>눈정화^~^/</button><br>
 <img src="http://img.tenasia.hankyung.com/webwp_kr/wp-content/uploads/2015/11/2015110412234512972-540x810.jpg"
		 width="50">
		 </div>
		 
		 


